Project_data
Project_data.zip
Project_data.zip2qiuwclntmp
study group.code-workspace
.history
.vscode
Neural_Nets_Project_Starter_Code.py
__pycache__
Sample+write-up.docx:Zone.Identifier
Neural_Nets_Project_Starter_Code.ipynb:Zone.Identifier